//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Wed 01 14 11:11:22 2026

IO_LOC "clk50" E2;
IO_PORT "clk50" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


IO_LOC "led1" D7;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led0" E8;
IO_PORT "led0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "btn0" H11;
IO_PORT "btn0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "btn1" H10;
IO_PORT "btn1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


IO_LOC "tmds_data_p[0]" H8,H7;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_data_p[1]" G7,G8;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_data_p[2]" F5,G5;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" H5,J5;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
/*
IO_LOC "tmds_d_p[0]" K11,L11;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" E11,E10;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" A11,A10;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" L5,K5;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
*/


IO_LOC "pmod2[7]" G11;
IO_PORT "pmod2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[6]" G10;
IO_PORT "pmod2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[5]" D11;
IO_PORT "pmod2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[4]" D10;
IO_PORT "pmod2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[3]" B11;
IO_PORT "pmod2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[2]" B10;
IO_PORT "pmod2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[1]" C11;
IO_PORT "pmod2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[0]" C10;
IO_PORT "pmod2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// ADC
// Input signal
//IO_LOC "an0" F5 / G5;
//USE_ADC_SRC bus2 IOT72;
//IO_LOC "an1" G7 /G8;
//USE_ADC_SRC bus1 IOT68;

/*
// IOT72A [F5] / IOT72B [G5]
IO_LOC  "i_analog1p"    F5
IO_PORT "i_analog1p"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "i_analog1n"    G5
IO_PORT "i_analog1n"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;

// IOT68A [G7] / IOT68B [G8]
IO_LOC  "i_analog2p"    G7
IO_PORT "i_analog2p"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "i_analog2n"    G8
IO_PORT "i_analog2n"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;

// IOT66A [H8] / IOT66B [H7]
IO_LOC  "i_analog3p"    H8
IO_PORT "i_analog3p"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "i_analog3n"    H7
IO_PORT "i_analog3n"    IO_TYPE=ADC_IN PULL_MODE=NONE BANK_VCCIO=3.3;
*/